@media (min-width: 320px) and (max-width: 419px) {
    .container {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%)
    }

    .container_contatos {
        width: 98%;
        height: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .title h2 {
        color: #B71C1C;
        font-size: 1.8rem;
    }

    .form {
        width: 98%;
        height: 80%;
    }

    .form form {
        width: 98%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .form form input {
        background: none;
        width: 90%;
        height: 40px;
        border: solid 1px #FFD700;
        padding: 3px;
        outline: none;
    }

    .form form label {
        color: #B71C1C;
        margin: 4px;
    }

    .form form textarea {
        width: 90%;
        height: 70px;
        resize: none;
        outline: none;
        border: solid 1px #FFD700;
        background: none;
    }

    .form form button {
        width: 50%;
        height: 35px;
        border-radius: 4px;
        border: none;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }

    .rodape {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2px;
    }

    .rodape h2 {
        color: #B71C1C;
    }

    .icones {
        width: 40px;
        height: 40px;
        border-radius: 40%;
    }

    .icones a img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }
}

@media (min-width: 420px) and (max-width: 530px) {
    .container {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%)
    }

    .container_contatos {
        width: 98%;
        height: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .title h2 {
        color: #B71C1C;
        font-size: 1.8rem;
    }

    .form {
        width: 95%;
        height: 80%;
    }

    .form form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .form form input {
        background: none;
        width: 90%;
        height: 40px;
        border: solid 1px #FFD700;
        padding: 3px;
        outline: none;
    }

    .form form label {
        color: #B71C1C;
        margin: 4px;
    }

    .form form textarea {
        width: 90%;
        height: 70px;
        resize: none;
        outline: none;
        border: solid 1px #FFD700;
        background: none;
    }

    .form form button {
        width: 50%;
        height: 35px;
        border-radius: 4px;
        border: none;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }

    .rodape {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }

    .rodape h2 {
        color: #B71C1C;
    }

    .icones {
        width: 40px;
        height: 40px;
        border-radius: 40%;
    }

    .icones a img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }
}

@media (min-width: 531px) and (max-width: 650px) {
    .container {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%)
    }

    .container_contatos {
        width: 98%;
        height: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .title h2 {
        color: #B71C1C;
        font-size: 1.8rem;
    }

    .form {
        width: 98%;
        height: 80%;
    }

    .form form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .form form input {
        background: none;
        width: 70%;
        height: 44px;
        padding: 3px;
        outline: none;
        border: solid 1px #FFD700;
    }

    .form form label {
        color: #B71C1C;
        margin: 4px;
    }

    .form form textarea {
        width: 70%;
        height: 70px;
        resize: none;
        outline: none;
        background: none;
        border: solid 1px #FFD700;
    }

    .form form button {
        width: 35%;
        height: 35px;
        border-radius: 4px;
        border: none;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }

    .rodape {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    .rodape h2 {
        color: #B71C1C;
    }

    .icones {
        width: 40px;
        height: 40px;
        border-radius: 40%;
    }

    .icones a img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .container {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%)
    }

    .container_contatos {
        width: 98%;
        height: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .title h2 {
        color: #B71C1C;
        font-size: 1.8rem;
    }

    .form {
        width: 98%;
        height: 80%;
    }

    .form form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .form form input {
        background: none;
        width: 70%;
        height: 44px;
        padding: 3px;
        outline: none;
        border: solid 1px #FFD700;
    }

    .form form label {
        color: #B71C1C;
        margin: 4px;
    }

    .form form textarea {
        width: 70%;
        height: 70px;
        resize: none;
        outline: none;
        background: none;
        border: solid 1px #FFD700;
    }

    .form form button {
        width: 35%;
        height: 35px;
        border-radius: 4px;
        border: none;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }

    .rodape {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    .rodape h2 {
        color: #B71C1C;
    }

    .icones {
        width: 40px;
        height: 40px;
        border-radius: 40%;
    }

    .icones a img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }
}

@media (min-width: 701px) and (max-width: 850px) {

    .container {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%)
    }

    .container_contatos {
        width: 98%;
        height: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .title h2 {
        color: #B71C1C;
        font-size: 1.8rem;
    }

    .form {
        width: 98%;
        height: 80%;
    }

    .form form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .form form input {
        background: none;
        width: 70%;
        height: 44px;
        padding: 3px;
        outline: none;
        border: solid 1px #FFD700;
    }

    .form form label {
        color: #B71C1C;
        margin: 4px;
    }

    .form form textarea {
        width: 70%;
        height: 70px;
        resize: none;
        outline: none;
        background: none;
        border: solid 1px #FFD700;
    }

    .form form button {
        width: 35%;
        height: 35px;
        border-radius: 4px;
        border: none;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }

    .rodape {
        width: 98%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    .rodape h2 {
        color: #B71C1C;
    }

    .icones {
        width: 40px;
        height: 40px;
        border-radius: 40%;
    }

    .icones a img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }
}

@media (min-width: 851px) and (max-width: 1024px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%);
    }

    .container_contatos {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .title h2 {
        font-size: 3rem;
        color: #B71C1C;
    }

    .form {
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form form {
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    .form form input {
        width: 80%;
        height: 55px;
        outline: none;
        border: solid 1px #FFD700;
        background: none;
        color: #fff;
        z-index: 999;
        font-size: 1rem;
    }

    .form form label {
        font-size: 1.1rem;
        color: #B71C1C;
    }

    .form form textarea {
        width: 80%;
        height: 100px;
        resize: none;
        border: none;
        background: none;
        outline: none;
        color: #fff;
        z-index: 999;
        font-size: 1.3rem;
        border: solid 1px #FFD700;
    }

    .form form button {
        width: 35%;
        height: 50px;
        border-radius: 8px;
        border: none;
        background-color: #B71C1C;
        border-radius: 10px;
        color: #FFD700;
        font-size: 1.3rem;
        z-index: 999;
        cursor: pointer;
        opacity: 0.5;
    }

    .form form button:hover {
        color: #00BFFF;

    }

    .rodape {
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .rodape h2 {
        font-size: 2rem;
        color: #B71C1C;

    }

    .icones {
        width: 55px;
        height: 55px;
        border-radius: 40%;
        z-index: 999;
        cursor: pointer;
    }

    .icones img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%);
    }

    .container_contatos {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .title h2 {
        font-size: 2.8rem;
        color: #B71C1C;
    }

    .form {
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form form {
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    .form form input {
        width: 80%;
        height: 55px;
        outline: none;
        border: solid 1px #FFD700;
        background: none;
        color: #fff;
        z-index: 999;
        font-size: 1.2rem;
    }

    .form form label {
        font-size: 1.2rem;
        color: #B71C1C;
    }

    .form form textarea {
        width: 80%;
        height: 100px;
        resize: none;
        border: solid 1px #FFD700;
        background: none;
        outline: none;
        color: #fff;
        z-index: 999;
        font-size: 1.3rem;
    }

    .form form button {
        width: 35%;
        height: 50px;
        border-radius: 8px;
        border: none;
        background-color: #B71C1C;
        border-radius: 10px;
        color: #FFD700;
        font-size: 1.3rem;
        z-index: 999;
        cursor: pointer;
        opacity: 0.5;
    }

    .form form button:hover {
        color: #00BFFF;

    }

    .rodape {
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .rodape h2 {
        font-size: 1.8rem;
        color: #B71C1C;

    }

    .icones {
        width: 60px;
        height: 60px;
        border-radius: 40%;
        z-index: 999;
        cursor: pointer;
    }

    .icones img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .container_contatos {
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .title h2 {
        font-size: 2.4rem;
    }

    .form {
        width: 90%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form form {
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    .form form input {
        width: 70%;
        height: 50px;
        outline: none;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
        border: none;
        background: none;
    }

    .form form label {
        font-size: 1.2rem;
    }

    .form form textarea {
        width: 70%;
        height: 95px;
        resize: none;
        border: none;
        background: none;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
        outline: none;
    }

    .form form button {
        width: 30%;
        height: 55px;
        border-radius: 8px;
        border: solid 1px #444;
    }

    .rodape {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .icones {
        border: solid 1px #000;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(12, 0, 53, 1) 41%, rgba(12, 0, 53, 1) 100%);
    }

    .container_contatos {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .title h2 {
        font-size: 3rem;
        color: #B71C1C;
    }

    .form {
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form form {
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    .form form input {
        width: 70%;
        height: 55px;
        outline: none;
        border: solid 1px #FFD700;
        background: none;
        color: #fff;
        z-index: 999;
        font-size: 1.3rem;
    }

    .form form label {
        font-size: 1.3rem;
        color: #B71C1C;
    }

    .form form textarea {
        width: 70%;
        height: 100px;
        resize: none;
        border: solid 1px #FFD700;
        background: none;
        outline: none;
        color: #fff;
        z-index: 999;
        font-size: 1.3rem;
    }

    .form form button {
        width: 30%;
        height: 55px;
        border-radius: 8px;
        border: none;
        background-color: #B71C1C;
        border-radius: 10px;
        color: #FFD700;
        font-size: 1.5rem;
        z-index: 999;
        cursor: pointer;
        opacity: 0.5;
    }

    .form form button:hover {
        color: #00BFFF;

    }

    .rodape {
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .rodape h2 {
        font-size: 2rem;
        color: #B71C1C;

    }

    .icones {
        width: 65px;
        height: 65px;
        border-radius: 40%;
        z-index: 999;
        cursor: pointer;
    }

    .icones img {
        width: 100%;
        height: 100%;
        border-radius: 40%;

    }
}

@media (min-width: 1901px) {}