@media (min-width: 320px) and (max-width: 419px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #F5F5F5;

    }

    .inicio {
        width: 99%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 290px;
        height: 290px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .subtitle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        gap: 4px;
    }

    .redes {
        width: 95%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 35%;
        height: 40px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 420px) and (max-width: 530px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        color: #F5F5F5;

    }

    .inicio {
        width: 98%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 310px;
        height: 310px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 99%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
    }

    .subtitle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        gap: 4px;
    }

    .redes {
        width: 99%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 37%;
        height: 45px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 531px) and (max-width: 650px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        color: #F5F5F5;

    }

    .inicio {
        width: 99%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 340px;
        height: 340px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 99%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
    }

    .subtitle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        gap: 4px;
    }

    .redes {
        width: 99%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 36%;
        height: 45px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        color: #F5F5F5;

    }

    .inicio {
        width: 99%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 99%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.1rem;
    }

    .subtitle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.7rem;
        gap: 4px;
    }

    .redes {
        width: 80%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 35%;
        height: 44px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 701px) and (max-width: 850px) {

    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        color: #F5F5F5;

    }

    .inicio {
        width: 99%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }


    .apresentacao {
        width: 99%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;
    }

    .subtitle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        gap: 4px;
    }

    .redes {
        width: 80%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 37%;
        height: 48px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
    }

}

@media (min-width: 851px) and (max-width: 1024px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #F5F5F5;

    }

    .inicio {
        width: 98%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    .img {
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 80%;
        height: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;

    }

    .subtitle {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
    }

    .redes {
        width: 50%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 49%;
        height: 50px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #F5F5F5;

    }

    .inicio {
        width: 98%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    .img {
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 70%;
        height: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;

    }

    .subtitle {
        border: solid 1px #0000;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
    }

    .redes {
        width: 70%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 30%;
        height: 50px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #F5F5F5;

    }

    .inicio {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 310px;
        height: 310px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 50%;
        height: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;

    }

    .subtitle {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .redes {
        width: 50%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 34%;
        height: 45px;
    }

    .redes a button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/tec.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #F5F5F5;


    }

    .inicio {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .img {
        width: 370px;
        height: 370px;
        border-radius: 50%;
    }

    .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .apresentacao {
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 90%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
    }

    .subtitle {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
    }

    .redes {
        width: 50%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 30%;
        height: 50px;
    }

    .redes a button {
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

}

@media (min-width: 1901px) {}