@media (min-width: 320px) and (max-width: 419px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
    }

    .inicio {
        width: 99%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .apresentacao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .titulo {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .descricao {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        height: 12%;
        font-size: 1.2rem;
        color: #B71C1C;
    }

    .descricao p {
        inline-size: 90%;
        font-size: 1.1rem;
        color: #FFD700;
        text-align: justify;
    }

    .redes {
        width: 95%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 35%;
        height: 40px;
    }

    .redes a button {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }
}

@media (min-width: 420px) and (max-width: 530px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #4B4B4B;
    }

    .inicio {
        width: 99%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .apresentacao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .titulo {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .descricao {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        height: 12%;
        font-size: 1.2rem;
        color: #B71C1C;
    }

    .descricao p {
        inline-size: 90%;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .redes {
        width: 95%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 35%;
        height: 40px;
    }

    .redes a button {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }
}

@media (min-width: 531px) and (max-width: 650px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #4B4B4B;
    }

    .inicio {
        width: 99%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .apresentacao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .titulo {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .descricao {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        height: 12%;
        font-size: 1.2rem;
        color: #B71C1C;
    }

    .descricao p {
        inline-size: 90%;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .redes {
        width: 95%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 35%;
        height: 40px;
    }

    .redes a button {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }
}

@media (min-width: 651px) and (max-width: 700px) {

    .container {
        height: 100vh;
        background-image: url(../../../../public/img/mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #4B4B4B;
    }

    .inicio {
        width: 99%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .apresentacao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .titulo {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .descricao {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        height: 12%;
        font-size: 1.2rem;
        color: #B71C1C;
    }

    .descricao p {
        inline-size: 90%;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .redes {
        width: 95%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 35%;
        height: 50px;
    }

    .redes a button {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }
}

@media (min-width: 701px) and (max-width: 850px) {

    .container {
        height: 100vh;
        background-image: url(../../../../public/img/mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        color: #4B4B4B;
    }

    .inicio {
        width: 99%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .apresentacao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .titulo {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .descricao {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        height: 12%;
        font-size: 1.2rem;
        color: #B71C1C;
    }

    .descricao p {
        inline-size: 90%;
        font-size: 1.1rem;
        color: #FFD700;
    }

    .redes {
        width: 95%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 35%;
        height: 50px;
    }

    .redes a button {
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: none;
        background-color: #B71C1C;
        color: #FFD700;
    }
}

@media (min-width: 851px) and (max-width: 1024px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
    }

    .inicio {
        width: 1000%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .apresentacao {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 90%;
        height: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        color: #FFD700;
    }

    .descricao {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        color: #B71C1C;
        font-size: 2rem;
        height: 20%;
    }

    .descricao p {
        width: 90%;
        font-size: 1.2rem;
        text-align: left;
        line-height: 26px;
        color: #FFD700;
    }

    .redes {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }

    .redes a {
        width: 25%;
        height: 50px;
        z-index: 999;
        cursor: pointer;
    }

    .redes a button {
        background-color: #B71C1C;
        color: #FFD700;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1.1rem;
        border-radius: 10px;

    }

    .redes a button:hover {
        color: #00BFFF;

    }


}

@media (min-width: 1025px) and (max-width: 1200px) {

    .container {
        height: 100vh;
        background-image: url(../../../../public/img/design1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
    }

    .inicio {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .apresentacao {
        width: 82%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 90%;
        height: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        color: #FFD700;
    }

    .descricao {
        width: 90%;
        height: 52%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        color: #B71C1C;
        font-size: 2rem;
        height: 20%;
    }

    .descricao p {
        width: 90%;
        font-size: 1.2rem;
        text-align: left;
        line-height: 26px;
        color: #FFD700;
    }

    .redes {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 22%;
        height: 45px;
        z-index: 999;
        cursor: pointer;

    }

    .redes a button {
        background-color: #B71C1C;
        color: #FFD700;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1.1rem;
        border-radius: 10px;
    }

    .redes a button:hover {
        color: #00BFFF;

    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/design1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
    }

    .inicio {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .apresentacao {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 90%;
        height: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        color: #FFD700;
    }

    .descricao {
        width: 90%;
        height: 52%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        color: #B71C1C;
        font-size: 2.5rem;
        height: 20%;
    }

    .descricao p {
        text-align: justify;
        width: 90%;
        font-size: 1.4rem;
        text-align: left;
        line-height: 26px;
        color: #FFD700;
    }

    .redes {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 18%;
        height: 50px;
        z-index: 999;
        cursor: pointer;
    }

    .redes a button {
        background-color: #B71C1C;
        color: #FFD700;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1.1rem;
        border-radius: 10px;
    }

    .redes a button:hover {
        color: #00BFFF;

    }
}

@media (min-width: 1601px) and (max-width: 1900px) {

    .container {
        height: 100vh;
        background-image: url(../../../../public/img/design1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
    }

    .inicio {
        width: 1000%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .apresentacao {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 80%;
        height: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: #FFD700;
    }

    .descricao {
        width: 90%;
        height: 52%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        color: #B71C1C;
        font-size: 2.5rem;
        height: 20%;
    }

    .descricao p {
        width: 70%;
        font-size: 1.4rem;
        text-align: left;
        line-height: 26px;
        color: #FFD700;
    }

    .redes {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 18%;
        height: 50px;
        z-index: 999;
        cursor: pointer;
    }

    .redes a button {
        background-color: #B71C1C;
        color: #FFD700;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1.1rem;
        border-radius: 10px;
    }

    .redes a button:hover {
        color: #00BFFF;

    }

}

@media (min-width: 1901px) {
    .container {
        height: 100vh;
        background-image: url(../../../../public/img/design1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-weight: 900;
    }

    .inicio {
        width: 1000%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .apresentacao {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        color: #B71C1C;
    }

    .subtitle {
        width: 80%;
        height: 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: #FFD700;
    }

    .descricao {
        width: 90%;
        height: 52%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao h3 {
        color: #B71C1C;
        font-size: 2.5rem;
        height: 20%;
    }

    .descricao p {
        width: 70%;
        font-size: 1.4rem;
        text-align: left;
        line-height: 26px;
        color: #FFD700;
    }

    .redes {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .redes a {
        width: 18%;
        height: 50px;
        z-index: 999;
        cursor: pointer;
    }

    .redes a button {
        background-color: #B71C1C;
        color: #FFD700;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 1.1rem;
        border-radius: 10px;
    }

    .redes a button:hover {
        color: #00BFFF;

    }
}