@media (min-width: 320px) and (max-width: 419px) {
    .container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        width: 170px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .container p {
        color: #fff;
        font-size: 1.3rem;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    .header {
        position: fixed;
        right: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header ul {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        text-decoration: none;
        color: #FFD700;
        font-size: 1.3rem;
    }
}

@media (min-width: 420px) and (max-width: 530px) {
    .container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        width: 170px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .container p {
        color: #fff;
        font-size: 1.3rem;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    .header {
        position: fixed;
        right: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header ul {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        text-decoration: none;
        color: #FFD700;
        font-size: 1.3rem;
    }
}

@media (min-width: 531px) and (max-width: 650px) {
    .container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        width: 170px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .container p {
        color: #fff;
        font-size: 1.3rem;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    .header {
        position: fixed;
        right: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header ul {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        text-decoration: none;
        color: #FFD700;
        font-size: 1.4rem;
    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        width: 170px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .container p {
        color: #fff;
        font-size: 1.3rem;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    .header {
        position: fixed;
        right: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header ul {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        text-decoration: none;
        color: #FFD700;
        font-size: 1.4rem;
    }
}

@media (min-width: 701px) and (max-width: 850px) {
    .container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        width: 170px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .container p {
        color: #fff;
        font-size: 1.3rem;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .icon img {
        width: 100%;
        height: 100%;
    }

    .header {
        position: fixed;
        right: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header ul {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        text-decoration: none;
        color: #FFD700;
        font-size: 1.5rem;
    }
}

@media (min-width: 851px) and (max-width: 1024px) {
    .container {
        width: 290px;
        height: 100px;
        position: fixed;
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 1000;
    }

    .container p {
        color: #fff;
        font-size: 2rem;
    }

    .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .icon img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: fixed;
        width: 40%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        box-shadow: -20px 0 20px -20px rgb(0, 0, 0) inset;
    }

    .header ul {
        width: 100%;
        height: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        color: #FFD700;
        text-decoration: none;
        font-size: 1.7rem;
    }

    .header ul li:hover {
        transform: scale(1.2);

    }

    .header ul li a:hover {
        color: #00BFFF;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {

    .container {
        width: 290px;
        height: 100px;
        position: fixed;
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 1000;
    }

    .container p {
        color: #fff;
        font-size: 2rem;
    }

    .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .icon img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: fixed;
        width: 40%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        box-shadow: -20px 0 20px -20px rgb(0, 0, 0) inset;
    }

    .header ul {
        width: 100%;
        height: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        color: #FFD700;
        text-decoration: none;
        font-size: 1.8rem;
    }

    .header ul li:hover {
        transform: scale(1.2);

    }

    .header ul li a:hover {
        color: #00BFFF;
    }

}

@media (min-width: 1201px) and (max-width: 1600px) {
    .container {
        width: 290px;
        height: 100px;
        position: fixed;
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 1000;
    }

    .container p {
        color: #fff;
        font-size: 2rem;
    }

    .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .icon img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: fixed;
        width: 40%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        box-shadow: -20px 0 20px -20px rgb(0, 0, 0) inset;
    }

    .header ul {
        width: 100%;
        height: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        color: #FFD700;
        text-decoration: none;
        font-size: 1.9rem;
    }

    .header ul li:hover {
        transform: scale(1.2);

    }

    .header ul li a:hover {
        color: #00BFFF;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .container {
        width: 290px;
        height: 100px;
        position: fixed;
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 1000;
    }

    .container p {
        color: #fff;
        font-size: 2rem;
    }

    .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .icon img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: fixed;
        width: 40%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        box-shadow: -20px 0 20px -20px rgb(0, 0, 0) inset;
    }

    .header ul {
        width: 100%;
        height: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        color: #FFD700;
        text-decoration: none;
        font-size: 2rem;
    }

    .header ul li:hover {
        transform: scale(1.2);

    }

    .header ul li a:hover {
        color: #00BFFF;
    }
}

@media (min-width: 1901px) {
    .container {
        width: 290px;
        height: 100px;
        position: fixed;
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 1000;
    }

    .container p {
        color: #fff;
        font-size: 2rem;
    }

    .icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .icon img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: fixed;
        width: 40%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        box-shadow: -20px 0 20px -20px rgb(0, 0, 0) inset;
    }

    .header ul {
        width: 100%;
        height: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    .header ul li a {
        color: #FFD700;
        text-decoration: none;
        font-size: 2rem;
    }

    .header ul li:hover {
        transform: scale(1.2);

    }

    .header ul li a:hover {
        color: #00BFFF;

    }
}