@media (min-width: 320px) and (max-width: 419px) {
    .header {
        width: 100%;
        height: 35%;
        position: fixed;
    }

    .menu_mobile {
        width: 100%;
        height: 100%;
    }

    .container_menu {
        display: none;
    }
}

@media (min-width: 420px) and (max-width: 530px) {
    .header {
        width: 100%;
        height: 35%;
        position: fixed;
    }

    .menu_mobile {
        width: 100%;
        height: 100%;
    }

    .container_menu {
        display: none;
    }
}

@media (min-width: 531px) and (max-width: 650px) {
    .header {
        width: 100%;
        height: 35%;
        position: fixed;
    }

    .menu_mobile {
        width: 100%;
        height: 100%;
    }

    .container_menu {
        display: none;
    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .header {
        width: 100%;
        height: 35%;
        position: fixed;
    }

    .menu_mobile {
        width: 100%;
        height: 100%;
    }

    .container_menu {
        display: none;
    }
}

@media (min-width: 701px) and (max-width: 850px) {
    .header {
        width: 100%;
        height: 35%;
        position: fixed;
    }

    .menu_mobile {
        width: 100%;
        height: 100%;
    }

    .container_menu {
        display: none;
    }
}

@media (min-width: 851px) and (max-width: 1024px) {
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;

    }

    .container_menu {
        width: 100%;
        height: 80px;
    }

    .menu_mobile {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;

    }

    .container_menu {
        width: 100%;
        height: 80px;
    }

    .menu_mobile {
        display: none;
    }

}

@media (min-width: 1201px) and (max-width: 1600px) {
    .header {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;

    }

    .container_menu {
        width: 100%;
        height: 70px;
    }

    .menu_mobile {
        display: none;
    }

    .menu_mobile {
        display: none;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .header {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;

    }

    .container_menu {
        width: 100%;
        height: 90px;

    }

    .menu_mobile {
        display: none;
    }
}

@media (min-width: 1901px) {
    .menu_mobile {
        display: none;
    }
}