@media (min-width: 320px) and (max-width: 419px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(12, 0, 53, 1) 0%, rgba(12, 0, 53, 1) 0%, rgba(12, 0, 53, 1) 85%, rgba(0, 0, 0, 1) 100%);
    }

    .ferramentas {
        width: 98%;
        height: 98%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2rem;
        color: #B71C1C;

    }

    .container_hard {
        width: 95%;
        height: 68%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard {
        width: 80%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #b71c1cce;
        border-radius: 10px;
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard ul li {
        font-size: 0.9rem;
        color: #FFD700;

    }

    .title_soft {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2rem;
        color: #B71C1C;

    }

    .container_soft {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .soft {
        width: 100%;
        height: 98%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        background-color: #b71c1cce;
        border-radius: 10px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .soft ul li {
        font-size: 0.8rem;
        color: #FFD700;

    }
}

@media (min-width: 420px) and (max-width: 530px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;

    }

    .ferramentas {
        width: 98%;
        height: 98%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2rem;
    }

    .container_hard {
        width: 95%;
        height: 68%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard {
        width: 70%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard ul li {
        font-size: 0.9rem;
    }

    .title_soft {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2rem;
    }

    .container_soft {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 100%;
        height: 98%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .soft ul li {
        font-size: 0.8rem;
    }
}

@media (min-width: 531px) and (max-width: 650px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;

    }

    .ferramentas {
        width: 98%;
        height: 98%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2rem;
    }

    .container_hard {
        width: 95%;
        height: 68%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard {
        width: 50%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard ul li {
        font-size: 1rem;
    }

    .title_soft {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2rem;
    }

    .container_soft {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 100%;
        height: 98%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .soft ul li {
        font-size: 0.9rem;
    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;

    }

    .ferramentas {
        width: 98%;
        height: 98%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2rem;
    }

    .container_hard {
        width: 95%;
        height: 68%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard {
        width: 50%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard ul li {
        font-size: 1.1rem;
    }

    .title_soft {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2rem;
    }

    .container_soft {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 100%;
        height: 98%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .soft ul li {
        font-size: 1rem;
    }
}

@media (min-width: 701px) and (max-width: 850px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;

    }

    .ferramentas {
        width: 98%;
        height: 98%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2rem;
    }

    .container_hard {
        width: 95%;
        height: 68%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard {
        width: 50%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hard ul li {
        font-size: 1.1rem;
    }

    .title_soft {
        width: 100%;
        height: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2rem;
    }

    .container_soft {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 100%;
        height: 98%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        background-color: #BFBFBF;
        border-radius: 10px;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .soft ul li {
        font-size: 1rem;
    }
}

@media (min-width: 851px) and (max-width: 1024px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;
    }

    .ferramentas {
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2.2rem;
    }

    .container_hard {
        width: 95%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .hard {
        width: 32%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #BFBFBF;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
    }

    .hard ul li {
        font-size: 1.2rem;
    }

    .title_soft {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2.2rem;
    }

    .container_soft {
        width: 98%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        border-radius: 10px;
        background-color: #BFBFBF;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4px;
    }

    .soft ul li {
        font-size: 1.1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;
    }

    .ferramentas {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2.3rem;
    }

    .container_hard {
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .hard {
        width: 32%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #BFBFBF;
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
    }

    .hard ul li {
        font-size: 1.3rem;
    }

    .title_soft {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2.3rem;
    }

    .container_soft {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        border-radius: 10px;
        background-color: #BFBFBF;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4px;
    }

    .soft ul li {
        font-size: 1.2rem;
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {

    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7D7D7D;
    }

    .ferramentas {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 2.3rem;
    }

    .container_hard {
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .hard {
        width: 32%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #BFBFBF;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
    }

    .hard ul li {
        font-size: 1.4rem;
    }

    .title_soft {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 2.3rem;
    }

    .container_soft {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        border-radius: 10px;
        background-color: #BFBFBF;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4px;
    }

    .soft ul li {
        font-size: 1.3rem;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .Container_ferramentas {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(12, 0, 53, 1) 0%, rgba(12, 0, 53, 1) 0%, rgba(12, 0, 53, 1) 85%, rgba(0, 0, 0, 1) 100%);
    }

    .ferramentas {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_hard {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_hard h2 {
        font-size: 3rem;
        color: #B71C1C;
    }

    .container_hard {
        width: 70%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .hard {
        width: 30%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hard ul {
        background-color: #b71c1cce;
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
    }

    .hard ul li {
        font-size: 1.3rem;
        color: #FFD700;

    }

    .title_soft {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_soft h2 {
        font-size: 3rem;
        color: #B71C1C;
    }

    .container_soft {
        width: 90%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .soft ul {
        border-radius: 10px;
        background-color: #b71c1cce;
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .soft ul li {
        font-size: 1.3rem;
        color: #FFD700;

    }
}


@media (min-with: 1901px) {}