@media (min-width: 320px) and (max-width: 419px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .sobre_mim {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 2.5rem;
    }

    .descricao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        width: 94%;
        text-align: justify;
        font-size: 1.1rem;
    }

    .redes_sociais {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .curriculo button {
        width: 48%;
        height: 70%;
    }

    .contatos {
        width: 50%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .icons {
        border: solid 1px #000;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

@media (min-width: 420px) and (max-width: 530px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_mim {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 2.8rem;
    }

    .descricao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        font-size: 1.1rem;
        width: 90%;
        text-align: justify;
        line-height: 20px;
    }

    .redes_sociais {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .curriculo button {
        width: 48%;
        height: 70%;
    }

    .contatos {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .icons {
        border: solid 1px #000;
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
}

@media (min-width: 531px) and (max-width: 650px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_mim {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 2.8rem;
    }

    .descricao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        width: 90%;
        text-align: justify;
        font-size: 1.2rem;
        line-height: 23px;
    }

    .redes_sociais {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .curriculo button {
        width: 48%;
        height: 70%;
    }

    .contatos {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .icons {
        border: solid 1px #000;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

@media (min-width: 651px) and (max-width: 700px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_mim {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 3rem;
    }

    .descricao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        width: 90%;
        font-size: 1.4rem;
        text-align: justify;
    }

    .redes_sociais {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .curriculo button {
        width: 48%;
        height: 80%;
    }

    .contatos {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .icons {
        border: solid 1px #000;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

@media (min-width: 701px) and (max-width: 850px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_mim {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 3.1rem;
    }

    .descricao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        width: 90%;
        font-size: 1.4rem;
        line-height: 25px;
        text-align: justify;
    }

    .redes_sociais {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .curriculo button {
        width: 48%;
        height: 70%;
    }

    .contatos {
        width: 50%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .icons {
        border: solid 1px #000;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

@media (min-width: 851px) and (max-width: 1024px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_mim {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 3.2rem;
    }

    .descricao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        width: 90%;
        font-size: 1.4rem;
        line-height: 25px;
        text-align: center;
    }

    .redes_sociais {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .curriculo button {
        width: 48%;
        height: 80%;
    }

    .contatos {
        width: 50%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .icons {
        border: solid 1px #000;
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_mim {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 3.2rem;
    }

    .descricao {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        width: 90%;
        font-size: 1.5rem;
        line-height: 28px;
        text-align: center;
    }

    .redes_sociais {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .curriculo button {
        width: 48%;
        height: 80%;
    }

    .contatos {
        width: 50%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .icons {
        border: solid 1px #000;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre_mim {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 2.9rem;
    }

    .descricao {
        width: 100%;
        height: 72%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao p {
        width: 90%;
        font-size: 1.3rem;
        text-align: center;
        line-height: 26px;
    }

    .redes_sociais {
        width: 90%;
        height: 13%;
        display: flex;
        align-items: center;
    }

    .curriculo {
        width: 50%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .curriculo button {
        width: 40%;
        height: 85%;
    }

    .contatos {
        width: 50%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .icons {
        border: solid 1px #000;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

@media (min-width: 1601px) and (max-width: 1900px) {
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F5F5F5;
        color: #333333;
    }

    .sobre_mim {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo h2 {
        font-size: 3.3rem;
    }

    .descricao {
        width: 90%;
        height: 68%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .descricao p {
        width: 70%;
        font-size: 1.6rem;
        text-align: center;
    }

    .redes_sociais {
        width: 90%;
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .curriculo,
    .contatos {
        width: 30%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .curriculo button {
        width: 200px;
        height: 60px;
    }

    .curriculo button a {
        font-size: 1.2rem;
    }

    .icons {
        border: solid 1px #000;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

@media (min-width: 1901px) {}